{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/js/select.dataTables.min.css">
  <style>
    @keyframes spinner {
      0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
      }
      100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
      }
    }
    .spin::before {
      animation: 1.5s linear infinite spinner;
      animation-play-state: inherit;
      border: solid 5px #cfd0d1;
      border-bottom-color: #1c87c9;
      border-radius: 50%;
      content: "";
      height: 40px;
      width: 40px;
      position: absolute;
      top: 200%;
      left: 45%;
      transform: translate3d(-50%, -50%, 0);
      will-change: transform;
    }
  </style>

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <form method="get">
          <div class="d-flex  align-items-center mb-3">
            {% csrf_token %}
            <h4 class="card-title mb-0" style="border-right-style: solid ;margin-right: 40px; border-right-width: 0px;">Economic Calendar </h4>
            <input type="text" name="daterange" value="var fullDate = new Date()" />
            <a class="btn btn-light search-date" style="text-decoration:underline;" id="today" >Today</a>
            <a class="btn btn-light search-date" id="tomorrow">Tomorrow</a>
            <a class="btn btn-light search-date" id="this week">This week</a>
            <a class="btn btn-light search-date" id="next week">Next week</a>
            <div class="btn-group ">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select timezone
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item selected-timezone">{{ user.timezone }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item timezone" value="Pacific/Honolulu">Pacific/Honolulu GMT-10:00</a>
                <a class="dropdown-item timezone" value="Europe/London">Europe/London GMT+0:00</a>
                <a class="dropdown-item timezone" value="Europe/Kiev">Europe/Kiev GMT+2:00</a>
                <a class="dropdown-item timezone" value="Europe/Minsk">Europe/Minsk GMT+3:00</a>
              </div>
            </div>
          </form>
          </div>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle news-list" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Economic releases
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item select-news">Economic releases</a>
                <a class="dropdown-item select-news ">Etalon news</a>
              </div>
            </div>
            <table class="table table-striped news-table">
              <thead class="news-head">
                <tr>
                  <th>
                    Time
                  </th>
                  <th>
                    Event
                  </th>
                  <th>
                    Actual
                  </th>
                  <th>
                    Forecast
                  </th>
                  <th>
                    Previous
                  </th>
                  <th>
                    Dev
                  </th>
                </tr>
              </thead>
              <thead class="etalon-news-head" style="display: none;">
                <tr>
                  <th>
                    Global report
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="today-tr"></tr>
                {% for new in news %}
                <tr onmouseover="this.style.cursor='pointer'" id="{{ new.id }}">
                  <td>
                    {{ new.time|date:'H:i'}}
                  </td>
                  <td>
                    {{ new.event}}
                  </td>
                  {% if new.actual > 0 %}
                  <td class="text-success">
                    {{ new.actual|default_if_none:""|floatformat:1 }}
                    <i class="mdi mdi-arrow-up"></i>

                  </td>
                  {% else %}
                  <td class="text-danger">
                    {{ new.actual|default_if_none:""|floatformat:1 }}
                    {% if new.actual %}
                    <i class="mdi mdi-arrow-down"></i>
                    {%else%}{%endif%}
                  </td>
                  {% endif %}
                  <td>
                    {{ new.estimate|default_if_none:""|floatformat:1}}
                  </td>
                  <td >
                    {{ new.prev|default_if_none:""|floatformat:1}}
                  </td>
                  <td>
                    {{ new.get_minus|default_if_none:""|floatformat:1}}
                  </td> 
                  <td>
                    <a href="/charts/{{new.pk}}/" class="btn btn-primary text-white me-0"><i></i>Chart</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ ASSETS_ROOT }}/vendors/chart.js/Chart.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script src="{{ ASSETS_ROOT }}/js/dashboard.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $(function() {
          $('input[name="daterange"]').daterangepicker({
                opens: 'left'
              }, function(start, end, label) {
                $('.news-table > tbody').empty(); 
                $('.news-table > tbody').html('<div class="spin"></div>');
                $(".select-news option[value='Economic releases']").prop('selected', 'selected');
                
                $('.etalon-news-head').hide();
                $('.news-head').show();

                $.ajax({
                    data: {
                        'date_from': start.format('YYYY-MM-DD'),
                        'date_to': end.format('YYYY-MM-DD'),
                        },
                    type: "GET",
                    url:  "/calendar/",

                    success: function (response) {
                      $('.news-table > tbody').empty();
                      var news = jQuery.parseJSON(response);

                      var prev_day = 0

                      jQuery.each(news, function(key, item) {
                        var day = item.fields.date
                        var day_name = moment(day).format('dddd');
                        var date = moment(day).format('D.MM.YYYY')
                        var dev = item.fields.actual - item.fields.estimate
                        if (item.fields.estimate != null){
                        } else {
                          item.fields.estimate = ''
                        }
                        if (item.fields.actual != null){
                        } else {
                          item.fields.actual = ''
                          arrow = ''
                        }
                        if (item.fields.actual > 0){
                          var text_actual="text-success"
                          var arrow = '<i class="mdi mdi-arrow-up"></i>'
                        } if (item.fields.actual < 0){
                          var text_actual="text-danger"
                          var arrow = '<i class="mdi mdi-arrow-down"></i>'
                        }
                        
                        if (prev_day != day){
                            $('.news-table > tbody').append(`
                            <tr><td style="height: 100px; text-align: center; --bs-table-striped-bg:#fff;" colspan="8"><h5>${date} ${day_name}</h5></td></tr>
                            `)
                          prev_day = day
                        };
                        $('.news-table > tbody').append(`
                        <tr onmouseover="this.style.cursor='pointer'" id="${item.pk}">
                          <td>${item.fields.time}</td>
                          <td>${item.fields.event}</td>
                          <td class=${text_actual}>${item.fields.actual}${arrow}</i></td>
                          <td>${item.fields.estimate}</td>
                          <td>${item.fields.prev}</td>
                          <td>${dev.toFixed(1)}</td>
                          <td>
                            <a href="/charts/${item.pk}/" class="btn btn-primary text-white me-0"><i></i>Chart</a>
                          </td>
                        </tr>
                        `)
                      });
                    },
                      error: function(){
                      console.log("Error");
                    }
                })
              });
            });
          });




    // Date buttons
    $(document).ready(function () {
      $('.search-date').click(function () {

        var search_date = $(this).attr('id');

        $('.search-date').css('text-decoration', '');
        $(this).css('text-decoration', 'underline');

        $(".select-news option[value='Economic releases']").prop('selected', 'selected');
        $('.news-table > tbody').empty();
        $('.news-table > tbody').html('<div class="spin"></div>');
        $('.etalon-news-head').hide();  
        $('.news-head').show();

        var timezone = $('.selected-timezone').text() 

        function convertTZ(date, tzString) {
           return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", {timeZone: tzString}));   
        }

        $.ajax({
            data: {
                'search_date': search_date,
                },
            type: "GET",
            url:  "/calendar/",

            success: function (response) {
                  $('.news-table > tbody').empty();
                  var news = jQuery.parseJSON(response);
                  var prev_day = 0

                  jQuery.each(news, function(key, item) {
                    var raw_day = item.fields.date
                    var raw_time = item.fields.time
                    
                    var dateTime = moment(`${raw_day} ${raw_time}`, 'YYYY-MM-DD HH:mm ZZ').format();
                    day = convertTZ(dateTime, timezone)
                    var day_name = moment(day).format('dddd');
                    var date = moment(day).format('D.MM.YYYY')
                    var time = moment(day).format('HH:mm')
                    

                    var dev = item.fields.actual - item.fields.estimate

                    if (item.fields.estimate != null){
                    } else {
                      item.fields.estimate = ''
                    }
                    if (item.fields.actual != null){
                    } else {
                      item.fields.actual = ''
                      arrow = ''
                    }
                    if (item.fields.actual > 0){
                      var text_actual="text-success"
                      var arrow = '<i class="mdi mdi-arrow-up"></i>'
                    } if (item.fields.actual < 0){
                      var text_actual="text-danger"
                      var arrow = '<i class="mdi mdi-arrow-down"></i>'
                    } 
                    if (prev_day != day_name){
                        $('.news-table > tbody').append(`
                        <tr><td style="height: 100px; text-align: center; --bs-table-striped-bg:#fff;" colspan="7"><h5>${date} ${day_name}</h5></td></tr>
                        `)
                      prev_day = day_name
                    };

                    $('.news-table > tbody').append(`
                    <tr  onmouseover="this.style.cursor='pointer'" id="${item.pk}">
                      <td>${time}</td>
                      <td>${item.fields.event}</td>
                      <td class=${text_actual}>${item.fields.actual}${arrow}</td>
                      <td>${item.fields.estimate}</td>
                      <td>${item.fields.prev}</td>
                      <td>${dev.toFixed(1)}</td>
                      <td>
                        <a href="/charts/${item.pk}/" class="btn btn-primary text-white me-0"><i></i>Chart</a>
                      </td>
                    </tr>
                    `)
                  });
                }
            ,
            error: function(){
                console.log("Error");
            }
        })
    });
  });


  $(document).ready(function () {
    $('.select-news').click(function () {

      var select_news = $(this).text();
      $('.news-table > tbody').html('<div class="spin"></div>');
      
      $.ajax({
          data: {
              'select_news': select_news,
              },
          type: "GET",
          url: "/calendar/",
          success: function (response) {
              $('.news-list').text(select_news);
              if (select_news == 'Economic releases'){
                $('.news-table > tbody').empty();
                $('.etalon-news-head').hide();
                $('.news-head').show();
                
                var news = jQuery.parseJSON(response);
                var prev_day = 0

                jQuery.each(news, function(key, item) {
                  var day = item.fields.date
                  var day_name = moment(day).format('dddd');
                  var date = moment(day).format('D.MM.YYYY')
                  var time = item.fields.time
                  var pure_time = time.split(':')[0] + ':' + time.split(':')[1];
                  var dev = item.fields.actual - item.fields.estimate

                  if (item.fields.estimate != null){
                    } else {
                      item.fields.estimate = ''
                    }
                  if (item.fields.actual != null){
                  } else {
                    item.fields.actual = ''
                  }
                  if (item.fields.actual > 0){
                    var text_actual="text-success"
                    var arrow = '<i class="mdi mdi-arrow-up"></i>'
                  } if (item.fields.actual < 0){
                    var text_actual="text-danger"
                    var arrow = '<i class="mdi mdi-arrow-down"></i>'
                  } else {
                    var arrow = ''
                  }
                  if (prev_day != day){
                      $('.news-table > tbody').append(`
                      <tr><td style="height: 100px; text-align: center; --bs-table-striped-bg:#fff;" colspan="7"><h5>${date} ${day_name}</h5></td></tr>`)
                      prev_day = day
                    };

                  $('.news-table > tbody').append(
                  `<tr  onmouseover="this.style.cursor='pointer'" id="${item.pk}">
                      <td>${pure_time}</td>
                      <td>${item.fields.event}</td>
                      <td class=${text_actual}>${item.fields.actual}${arrow}</td>
                      <td>${item.fields.estimate}</td>
                      <td>${item.fields.prev}</td>
                      <td>${dev.toFixed(1)}</td>
                      <td>
                        <a href="/charts/${item.pk}/" class="btn btn-primary text-white me-0"><i></i>Chart</a>
                      </td>
                    </tr>`)
                });
              }
              if(select_news == 'Etalon news') {
                $('.news-table > tbody').empty();
                $('.news-head').hide();
                $('.etalon-news-head').show();

                var news = jQuery.parseJSON(response);
                jQuery.each(news, function(key, item) {
                  $('.news-table > tbody').append(
                  `<tr>
                      <td colspan="6">${item.fields.globalreport}</td>
                    </tr>`)
                });
              }},
                error: function(){
                  console.log("Error");
                }
              })
          });
        });


    $(document).ready(function(){
        
        $('.news-table').delegate('tr', 'click',  function(){
          news_id = $(this).attr('id');
          load_by_id(news_id)
        })
      }

  );


      function load_by_id(news_id){
        var timezone = $('.selected-timezone').text()
        news_id = news_id
        function convertTZ(date, tzString) {
           return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", {timeZone: tzString}));   
        }
 
        if (news_id){

          $('.news-table > tbody').empty();
          $('.news-table > tbody').html('<div class="spin"></div>');

          $('.etalon-news-head').hide();
          $('.news-head').show();

          $.ajax({
            data: {
                'news_id': news_id,
                },
            type: "GET",
            url: "/calendar/",
            success: function (response) {
              $('.news-table > tbody').empty();
              var news = jQuery.parseJSON(response);

              var prev_day = 0
              jQuery.each(news, function(key, item) {

                    var raw_day = item.fields.date
                    var raw_time = item.fields.time
                    var dateTime = moment(`${raw_day} ${raw_time}`, 'YYYY-MM-DD HH:mm ZZ').format();
                    day = convertTZ(dateTime, timezone)
                    var day_name = moment(day).format('dddd');
                    var date = moment(day).format('D.MM.YYYY')
                    var time = moment(day).format('HH:mm')
                    var dev = item.fields.actual - item.fields.estimate


                    if (item.fields.estimate != null){
                    } else {
                      item.fields.estimate = ''
                    }
                    if (item.fields.actual != null){
                    } else {
                      item.fields.actual = ''
                    }
                    if (item.fields.actual > 0){
                      var text_actual="text-success"
                    } else {
                      var text_actual="text-danger"
                    }
                    if (prev_day != day_name){
                        $('.news-table > tbody').append(`
                        <tr><td style="height: 100px; text-align: center; --bs-table-striped-bg:#fff;" colspan="7"><h5>${date} ${day_name}</h5></td></tr>`)
                        prev_day = day_name
                      };
                    $('.news-table > tbody').append(
                    `<tr>
                        <td>${time}</td>
                        <td>${item.fields.event}</td>
                        <td class=${text_actual}>${item.fields.actual}</td>
                        <td>${item.fields.estimate}</td>
                        <td>${item.fields.prev}</td>
                        <td>${dev.toFixed(1)}</td>  
                        <td>
                          <a href="/charts/${item.pk}/" class="btn btn-primary text-white me-0"><i></i>Chart</a>
                        </td>
                      </tr>`)
                  });
              },
              error: function(){
                console.log('error');
              }
            });
          }
        };



  $(document).ready(function () {
    var fullDate = new Date()
    var day_name = moment(fullDate).format('dddd');
    var date = moment(fullDate).format('D.MM.YYYY')
    
    $('.today-tr').html(`<td style="height: 100px; text-align: center; --bs-table-striped-bg:#fff;" colspan="7"><h5>${date} ${day_name} </h5></tr>`);
  });




  $(document).ready(function () {
    $('.timezone').click(function () {
      var timezone = $(this).attr('value')
      $('.selected-timezone').text(timezone)

      
      $.ajax({
            data: {
                'timezone': timezone,
                },
            type: "GET",
            url: "/calendar/",
            success: function (response) {


              $(".select-news option[value='Economic releases']").prop('selected', 'selected');
              $('.news-table > tbody').empty();
              $('.news-table > tbody').html('<div class="spin"></div>');
              $('.etalon-news-head').hide();  
              $('.news-head').show();

              var timezone = $('.selected-timezone').text() 

              function convertTZ(date, tzString) {
                return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", {timeZone: tzString}));   
              }

              $.ajax({
                  data: {
                      'search_date': 'today',
                      },
                  type: "GET",
                  url:  "/calendar/",

                  success: function (response) {
                        $('.news-table > tbody').empty();
                        var news = jQuery.parseJSON(response);
                        var prev_day = 0

                        jQuery.each(news, function(key, item) {
                          var raw_day = item.fields.date
                          var raw_time = item.fields.time
                          
                          var dateTime = moment(`${raw_day} ${raw_time}`, 'YYYY-MM-DD HH:mm ZZ').format();
                          day = convertTZ(dateTime, timezone)
                          var day_name = moment(day).format('dddd');
                          var date = moment(day).format('D.MM.YYYY')
                          var time = moment(day).format('HH:mm')
                          

                          var dev = item.fields.actual - item.fields.estimate

                          if (item.fields.estimate != null){
                          } else {
                            item.fields.estimate = ''
                          }
                          if (item.fields.actual != null){
                          } else {
                            item.fields.actual = ''
                          }
                          if (item.fields.actual > 0){
                            var text_actual="text-success"
                            var arrow = '<i class="mdi mdi-arrow-up"></i>'
                          } if (item.fields.actual < 0){
                            var text_actual="text-danger"
                            var arrow = '<i class="mdi mdi-arrow-down"></i>'
                          } else {
                            var arrow = ''
                          }
                          if (prev_day != day_name){
                              $('.news-table > tbody').append(`
                              <tr><td style="height: 100px; text-align: center; --bs-table-striped-bg:#fff;" colspan="7"><h5>${date} ${day_name}</h5></td></tr>
                              `)
                            prev_day = day_name
                          };

                          $('.news-table > tbody').append(`
                          <tr  onmouseover="this.style.cursor='pointer'" id="${item.pk}">
                            <td>${time}</td>
                            <td>${item.fields.event}</td>
                            <td class=${text_actual}>${item.fields.actual}${arrow}</td>
                            <td>${item.fields.estimate}</td>
                            <td>${item.fields.prev}</td>
                            <td>${dev.toFixed(1)}</td>
                            <td>
                              <a href="/charts/${item.pk}/" class="btn btn-primary text-white me-0"><i></i>Chart</a>
                            </td>
                          </tr>
                          `)
                        });
                      }
                  ,
                  error: function(){
                      console.log("Error");
                  }
              })
              
            },
            error: function (response){
              console.log('error');
            }
          });
    })
  }); 


  </script>

{% endblock javascripts %}
