{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/js/select.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Управление доступом</h4>
            <div class="table-responsive">
              <table class="table">

                <thead>
                  <tr>
                    <th>Modules</th>
                    <th>Access level</th>
                  </tr>
                </thead>
                <tbody>
                  {% for module in modules %}
                  <tr>
                    <form method="post">
                    {% csrf_token %}
                    <td class="module">{{  module.name }}</td>
                    <td>
                    <!-- <div class="form-group" style="padding-right: 759px; margin-left: 30px; margin-bottom: -1px;"> -->
                    <div class="form-group" id="{{ module.name }}">
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle select-group" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ module.get_group }}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item selected-group">{{ module.get_group }}</a>
                          <div class="dropdown-divider"></div>
                          {% for group in groups %}
                            <a class="dropdown-item group" value="{{ group.name }}" id="{{ user_obj.id }}">{{ group.name }}</a>
                          {% endfor %}
                        </div>
                      </div>
                      </div>
                    </td>
                  </form>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  {% endfor %}
                </tbody>
                <script type="text/javascript">
                  $('.group').click(function () {
                    var module = $(this).parents('.form-group').attr('id');
                    var group = $(this).attr('value');
                    var csrftoken = $( "input[name='csrfmiddlewaretoken']" ).val();
                    $(this).parents('.form-group').find('.select-group').text(group)
                    $(this).parents('.form-group').find('.selected-group').text(group)

                    $.ajax({
                        data: {
                            'module': module,
                            'group': group,
                            'csrfmiddlewaretoken': csrftoken,
                            },
                        type: "POST",
                        url: "/modules/change_access/",

                        success: function (response) {
                            if (response.response) {
                            }
                            else {
                                console.log(response.error);
                            }
                        },
                        error: function(){
                            console.log("Error");
                        }
                    })
                });
              </script>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ ASSETS_ROOT }}/vendors/chart.js/Chart.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/dashboard.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/Chart.roundedBarCharts.js"></script>

{% endblock javascripts %}
