{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/js/select.dataTables.min.css">

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Аватар</h4>
                <img class="rounded mx-auto d-block" style="width:300px;height:auto;" src="/{{ user_obj.profile_image }}" alt="Card image cap">
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group">                      
                        <input type="file" name="profile_image" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text"  class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <form class="forms-sample" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" name="username" value="{{ user_obj.username }}" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="{{ user_obj.email }}" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
                  </div>
                  <h6 class="fw-light">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                    {% endif %} 
                </h6>
                    {% if user.groups.first.access_level == 4 %}
                    <div class="form-group" style="padding-right: 920px;">
                      <select class="form-control" name="group" id="group">
                        {% for group in groups %}
                         {% if group == user_obj.groups.first %}
                         <option selected>{{ group.name }}</option>
                          {% else %}
                          <option>{{ group.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <button type="button" class="btn btn-primary delete-user" id="{{ user_obj.id }}">Delete</button>
                    {% endif %}
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
                <script type="text/javascript">
                  $('.delete-user').click(function () {
                    var user_id = $(this).attr('id');
                    var csrftoken = $( "input[name='csrfmiddlewaretoken']" ).val();
 
                    console.log(user_id)
                      $.ajax({
                        data: {
                            'user_id': user_id,
                            'csrfmiddlewaretoken': csrftoken,
                            },
                        type: "POST",
                        url: "/users/delete_user/",

                        success: function (response) {
                            if (response.response) {
                              location.href = "/users/"
                            }
                            else {
                                console.log(response.error);
                            }
                        },
                        error: function(){
                            console.log("Error");
                        }
                    })
                });
                </script>
              </div>
            </div>
          </div>
    
    </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ ASSETS_ROOT }}/vendors/chart.js/Chart.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/file-upload.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/dashboard.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/Chart.roundedBarCharts.js"></script>

{% endblock javascripts %}
