{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/js/select.dataTables.min.css">

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Аватар</h4>
                <img class="mx-auto d-block" style="width:300px;height: 300px; border-radius: 50%;" src="/{{user_obj.profile_image }}" alt="Card image cap">
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group col-sm-4">                      
                        <input type="file" name="profile_image" class="file-upload-default">
                        <div class="input-group col-sm-5">
                          <input type="text"  class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn-sm btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                  <a href="/" class="btn btn-secondary text-dark me-0"><i></i> Cancel</a>                  
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <form class="forms-sample" method="POST">
                  {% csrf_token %}
                  {% if user_obj.online %}
                  <label class="badge text-success">Online</label>
                  {% else %}
                  Last seen {{ user_obj.last_seen }}
                  {%endif%}
                  <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" name="username" value="{{ user_obj.username }}" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="{{ user_obj.email }}" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
                  </div>
                  <h6 class="fw-light">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                    {% endif %} 
                  </h6>
                    {% if user.groups.first.access_level == 4 %}
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle select-group" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user_obj.groups.first }}
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item selected-group">{{ user_obj.groups.first }}</a>
                        <div class="dropdown-divider"></div>
                        {% for group in groups %}
                          <a class="dropdown-item group" value="{{ group.name }}" id="{{ user_obj.id }}">{{ group.name }}</a>
                        {% endfor %}
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary delete-user" id="{{ user_obj.id }}">Delete</button>
                    {% endif %}
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                  <a href="/" class="btn btn-secondary text-dark me-0"><i></i> Cancel</a>
                </form>
                <script type="text/javascript">
                  $('.delete-user').click(function () {
                    var user_id = $(this).attr('id');
                    var csrftoken = $( "input[name='csrfmiddlewaretoken']" ).val();
                    
                      $.ajax({
                        data: {
                            'user_id': user_id,
                            'csrfmiddlewaretoken': csrftoken,
                            },
                        type: "POST",
                        url: "/users/delete_user/",

                        success: function (response) {
                            if (response.response) {
                              location.href = "/users/"
                            }
                            else {
                                console.log(response.error);
                            }
                        },
                        error: function(){
                            console.log("Error");
                        }
                    })
                });
                </script>
                    <script type="text/javascript">
                      $('.group').click(function () {
                        var user_id = $(this).attr('id');
                        var group = $(this).attr('value');
                        $('.select-group').text(group)
                        $('.selected-group').text(group)

                        var csrftoken = $( "input[name='csrfmiddlewaretoken']" ).val();

                        $.ajax({
                            data: {
                                'user_id': user_id,
                                'group': group,
                                'csrfmiddlewaretoken': csrftoken,
                                },
                            type: "POST",
                            url: "/users/change_user_group/",

                            success: function (response) {
                                if (response.response) {
                                }
                                else {
                                    console.log(response.error);
                                }
                            },
                            error: function(){
                                console.log("Error");
                            }
                        })
                    });
                  </script>
              </div>
            </div>
          </div>
    
    </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ ASSETS_ROOT }}/vendors/chart.js/Chart.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/file-upload.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/dashboard.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/Chart.roundedBarCharts.js"></script>

{% endblock javascripts %}
