{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/js/select.dataTables.min.css">

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Пользователи</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Emal</th>
                    <th>Status</th>
                    <th>Group</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.is_online == False %}
                    <td class="text-danger">Offline</td>
                    {% else %}
                    <td class="text-success">Online</td>
                    {% endif %}
                    <td><label class="badge badge-danger">{{ user.groups.first }}</label></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <button type="button" class="btn btn-primary">Создать</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="{{ ASSETS_ROOT }}/vendors/chart.js/Chart.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/dashboard.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/Chart.roundedBarCharts.js"></script>

{% endblock javascripts %}
